<div class="piece" [appPiece]="emplacement1" (onDrop)="checkVictory($event, 1)">1</div>
<div class="piece" [appPiece]="emplacement2" (onDrop)="checkVictory($event, 2)">2</div>
<div class="piece" [appPiece]="emplacement3" (onDrop)="checkVictory($event, 3)">3</div>
<div class="piece" [appPiece]="emplacement4" (onDrop)="checkVictory($event, 4)">4</div>
<div class="piece" [appPiece]="emplacement5" (onDrop)="checkVictory($event, 5)">5</div>
<div class="piece" [appPiece]="emplacement6" (onDrop)="checkVictory($event, 6)">6</div>
<div class="piece" [appPiece]="emplacement7" (onDrop)="checkVictory($event, 7)">7</div>
<div class="piece" [appPiece]="emplacement8" (onDrop)="checkVictory($event, 8)">8</div>
<div class="piece" [appPiece]="emplacement9" (onDrop)="checkVictory($event, 9)">9</div>

<div class="zoneJeu">
    <div class="emplacement" #emplacement1></div>
    <div class="emplacement" #emplacement2></div>
    <div class="emplacement" #emplacement3></div>
    <div class="emplacement" #emplacement4></div>
    <div class="emplacement" #emplacement5></div>
    <div class="emplacement" #emplacement6></div>
    <div class="emplacement" #emplacement7></div>
    <div class="emplacement" #emplacement8></div>
    <div class="emplacement" #emplacement9></div>
</div>