.piece {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    font-size: 40px;
    line-height: 100px;
    position: absolute;
}

.emplacement {
    width: 102px;
    height: 102px;
    border: 1px solid gray;
}

.zoneJeu {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
}